@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: utl("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}

body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "PT Sans", sans-serif;
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main_container {
  flex-grow: 1;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Блок навигации */

.navigation {
  width: 1200px;
  display: flex;
  margin: 0 auto;
}

.navigation_logo {
  margin-left: 70px;
  margin-right: 30px;
  height: 64px;
}

.navigation_logo_img{
  object-fit: contain;
  position: relative;
}

.navigation_list {
  margin: 0;
  padding: 0;
  max-width: 500px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation_list .navigation_item {
  padding: 20px 16px;
}

.navigation_item {
  box-sizing: border-box;
  height: 64px;
  position: relative;
}

.navigation_link {
  display: block;
}

.navigation_list a {
  text-decoration: none;
  color: #000;
}

.navigation_link_current {
  display: block;
  position: relative;
  padding-bottom: 20px;
  border-bottom: 2px solid #756257;
  cursor: default
}

/* Блок пользователя */

.navigation_user {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  max-width: 400px;
  margin-right: 70px;
  margin-left: auto;
  list-style: none;
  display: flex;
  align-items: center;
}

.navigation_user .navigation_link {
  min-width: 44px;
  height: 64px;
  position: relative
}

.favourite {
  position: relative;
}

.favourites_counter {
  position: absolute;
  border-radius: 100vw;
  background: #7db54f;
  left: 20px;
  top: 11px;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  padding: 5px 5px 5px 4px;
}

.navigation_user a {
  text-decoration: none;
}

.icon_svg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.button_brown {
  background-color: #756157;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
}

.navigation_button {
  box-sizing: border-box;
  min-width: 160px;
  min-height: 36px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Поповер для отелей в избранном */
.popover {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  width: 380px;
  padding: 22px 10px 10px;
  font-family: inherit;
  color: #242424;
  background-color: #fff;
  min-height: 150px;
  box-shadow: 0 0 0 3px #82B3D3;
  display: none;
}

.popover_open {
  display: block;
}

.popover_close_button {
  border: 0;
  padding: 22px 2px;
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 64px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.popover_favourite_counter {
  position: static;
}

.popover_favourite_svg {
  position: static;
  margin: 0;
}

.popover_close_button:hover{
  opacity: 0.6;
}

.popover_close_button:focus-visible {
  outline: 2px solid #82B3D3;
}

.popover_close_button:active {
  opacity: 0.3;
}

.popover_content {
  height: 100%;
}

.popover_title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.popover_favourite_item_link_title {
  color: #000;
}

.popover_favourite_item_link_title:hover {
  opacity: 0.6;
}

.popover_favourite_item_link_title:active {
  opacity: 0.3;
}

.popover_favourite_item_title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
}

.popover_favourite_list {
  list-style: none;
  padding: 0;
}

.popover_favourite_item {
  display: grid;
  grid-template-columns: 1fr 45px;
  gap: 2px;
  padding-bottom: 15px;
}

.popover_favourite_item + .popover_favourite_item {
  padding-top: 15px;
  border-top: 1px dashed #595959
}

.popover_favourite_item_price {
  color: #af7842;
  font-size: 16px;
  line-height: 24px;
}

.button_delete_favourite {
  box-sizing: border-box;
  cursor: pointer;
  width: 45px;
  height: 40px;
  border: 0;
  padding: 0;
  background-color: #000;
  fill: #fff;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  align-self: center;
}

.button_delete_favourite:hover {
  background-color: #814b18;
}

.button_delete_favourite:focus-visible {
  background-color: #814b18;
  outline: 2px solid #dbb590;
}

.button_delete_favourite:active {
  background-color: #814b18;
  opacity: 0.6
}

/* Приветствие */

.page_welcome {
  background-color: lightblue;
  background-image: url("../images/overlap.svg"), url("../images/index_background.jpg");
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  padding-top: 51px;
  padding-bottom: 82px;
}

.welcome {
  display: block;
  margin: 0 auto;
}

/* Заголовки и описания */

.block_title{
  margin: 0;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.block_description {
  margin:0;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.item_title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.item_description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

/* Преимущества */

.advantages_title_wrap {
  padding-block: 69px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 21px;
}

.advantages_list{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages_img_1 {
  grid-column: 2 / 4;
}

.advantages_img_2 {
  grid-column: 1 / 3;
}

.advantages_item{
  list-style: none;
}

.advantages_wrap {
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.advantages_item_title {
  margin: 0 auto;
}

.advantages_item_title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 30px auto 0;
}

.item_title_img::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages_item_description {
  margin: 0;
}

.advantages_item_blue {
  color: #fff;
  background-color: #82B3D3;
}

.advantages_item_light {
  background-color: rgba(131, 179, 211, 0.12);
}

/* Преимущества и услуги */

.advantages_item_light_blue,
.services_item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Услуги */
.services_title_wrap {
  padding-block: 64px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services_list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.services_item {
  height: 385px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.services_item:nth-child(1)::before {
  content: "";
  min-width: 75px;
  min-height: 72px;
  background: url("../images/house.svg") center no-repeat;
}

.services_item:nth-child(2)::before {
  content: "";
  min-width: 75px;
  min-height: 72px;
  background: url("../images/food.svg") center no-repeat;
}

.services_item:nth-child(3)::before {
  content: "";
  min-width: 75px;
  min-height: 72px;
  background: url("../images/souvenir.svg") center no-repeat;
}

.services_item_title {
  margin: 0;
}

.services_item_description {
  margin: 0;
}

/* Поиск гостиниц */
.hotels_search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-block: 96px;
}

.button_search {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  height: 52px;
  margin-top: 34px;
}

/* Рассылка */

.btn,
.input,
.select_control {
  font-family: inherit;
}

.subscribe {
  color: #fff;
  background-color: lightblue;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
}

.page_subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 96px 104px;
  gap: 20px;
}

.subscribe_form {
  width: 684px;
  display: flex;
  margin-top:34px;
}

.subscribe_input {
  margin: 0;
}

.button_blue {
  color: #fff;
  background-color: #82B3D3;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  border: none;
  cursor: pointer;
}

.subscribe_field {
  box-sizing: border-box;
  padding-left: 20px;
  padding-block: 14px;
  border: 0;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  height: 100%;
  min-width: 452px;
}

.subscribe_button {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  max-width: 300px;
  padding: 8px 10px;
  min-width: 232px;
}

/* Подвал сайта */

.page-footer {
  box-sizing: border-box;
  width: 1060px;
  min-height: 120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 40px 30px;
}

.social_list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  max-width: 300px;
}

.social_button {
  display: inline-block;
  min-width: 47px;
  min-height: 40px;
  position: relative;
}

.footer_contact_phone {
  text-decoration: none;
  color: #000;
  font-size: 40px;
  line-height: 40px;
}

/* Модальное окно */
.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242,242,242, 0.8);
  display: flex;
}

.modal_container_close {
  display: none;
}

.modal_checkin {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  width: 717px;
  padding: 64px 70px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal_button_close {
  border: 0;
  padding: 0;
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background: url("../images/modal/cross.svg") no-repeat center;
  background-color: #f2f2f2;
  border-radius: 100%;
  cursor: pointer;
}

.modal_title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 64px;
  margin-right: 45px;
}

.form_checkin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 23px 88px;
}

.modal_search {
  grid-column: 1 / -1;
  box-sizing: border-box;
  padding-block: 18px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 10px;
  margin-top: 25px;
}

.field_group:nth-of-type(-n+2) {
  grid-column: 1 / -1;
}

.field_group {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4px;
  align-items: center;
}

.checkin_label {
  grid-column: 1 / 2;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  max-width: 135px;
}

.checkin_input {
  grid-column: 2 / 3;
  border: none;
  width: 440px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 50px 12px 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background: url("../images/modal/calendar.svg") no-repeat right 20px center;
  background-color: #f2f2f2;
  margin-left: auto;
}

.checkin_note {
  grid-column: 2 / 3;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  padding-left: 20px;
  color: #333;
}

.error {
  color: #ff5757
}

.checkin_input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 400;
}

.number_input {
  border: none;
  width: 31px;
  height: 48px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  padding: 14px 3px;
  text-align: center;
  cursor: default;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.number_input {
  -webkit-appearance: none;
  appearance: none;
}

.number_input_wrap {
  margin-left: auto;
  display: flex;
}

.button_number_control {
  width: 40px;
  height: 48px;
  border: none;
  padding: 0;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: rgba(117, 97, 87, 0.3);
  cursor: pointer;
}

.children_label {
  display: flex;
  gap: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  height: 26px;
}

.tooltip_toggle {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 26px;
  height: 26px;
}

.tooltip_icon {
  display: block;
  width: 100%;
  height: 100%;
}

.tooltip_text {
  width: 216px;
  color: #fff;
  background-color: #333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px 18px 23px 22px;
  font-size: 16px;
  line-height: 125%;
  font-weight: 400;
  text-transform: none;
  position: absolute;
  top: 40px;
  left: 50%;
  right: 0;
  transform: translate(-50%);
  display: none;
}

.tooltip_text::before {
  content: "";
  width: 19px;
  height: 9px;
  position: absolute;
  background: url("../images/modal/triangle.svg") no-repeat;
  top: -9px;
  left: 50%;
  transform: translate(-50%);
}

.tooltip_toggle:hover + .tooltip_text,
.tooltip_toggle:focus + .tooltip_text {
  display: block;
}

/* Страница каталога */

.filter_background_wrap {
  background-color: lightblue;
  background-image: url("../images/catalog/header_background.jpg");
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
}

.inner-header_title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

/* Хлебные крошки */

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
  display:flex;
  align-items: center;
  gap: 10px;
}

.breadcrumbs_item {
  font-size: 16px;
  line-height: 21px;
  display: flex;
  gap: 10px;
}

.breadcrumbs_link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  fill: #fff;
}

.breadcrumbs_item:not(:last-child)::after {
  content: "";
  min-width: 8px;
  min-height: 19px;
  background: url("../images/catalog/arrow_right.svg") center no-repeat;
}

/* Фильтры для поиска */

.catalog_filter_form {
  display: flex;
  gap:70px;
}

.catalog_filter_title {
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.catalog_filter_group {
  border: 0;
  padding: 0;
  margin: 0;
}

.catalog_filter_list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
}

.catalog_filter_item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.control_description {
  cursor: pointer;
}

.control_check {
  margin: 0;
  appearance: none;
  width: 20px;
  height: 20px;
  background: url("../images/catalog/checkbox.svg");
}

.control_check:checked {
  background: url("../images/catalog/check.svg") no-repeat center, url("../images/catalog/checkbox.svg");
}

.control_mark {
  margin: 0;
  appearance: none;
  width: 20px;
  height: 20px;
  background: url("../images/catalog/radio.svg");
}

.control_mark:checked {
  background: url("../images/catalog/mark.svg") no-repeat center, url("../images/catalog/radio.svg");
}

.control_description {
  font-size: 18px;
  line-height: 23px;
}

.price_wrap {
  width: 288px;
  margin-left: auto;
}

.control_wrap {
  width: 288px;
  display: flex;
  gap: 2px;
  margin-bottom: 45px;
}

.price_control {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  box-sizing: border-box;
  width: 143px;
  height: 48px;
  border: 0;
  padding: 12px 45px 12px 20px;
  background-color: #f2f2f2;
}

.control_price {
  position: relative;
}

.price_description {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  opacity: 0.3;
  position: absolute;
  z-index: 1;
  top: 12px;
  right: 20px;
}

.control_price:nth-child(1) .price_control {
  border-radius: 4px 0 0 4px;
}

.control_price:nth-child(2) .price_control {
  border-radius: 0 4px 4px 0;
}

.price_control {
  appearance: textfield;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.range_scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range_selection {
  position: absolute;
  background-color: #fff;
  height: 4px;
}

.range_toggler {
  border: 0;
  padding: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.toggler_min {
  top: -8px;
}

.toggler_max {
  top: -8px;
}

.button_wrap {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

.button_apply,
.button_reset {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding: 0;
  border: 0;
  width: 191px;
  height: 36px;
}

.button_apply {
  margin-bottom: 32px;
  border-radius: 4px;
  padding: 8px 50px;
}

.button_reset {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Отображение каталога */

.catalog_hotels {
  box-sizing: border-box;
  padding: 50px 70px 60px;
}

.sort_wrap {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog_hotels_title {
  margin: 0;
  margin-right: auto;
}

.select_control {
  padding: 14px 20px;
  margin-right: 70px;
  width: 292px;
  height: 49px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
  background: url("../images/catalog/arrow_down.svg") no-repeat right 20px center;
}

.sort_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 300px;
  gap: 8px;
}

.sort_link {
  display: block;
  box-sizing: border-box;
  min-width: 48px;
  min-height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sort_link_current {
  border-color: #000;
}

.icon_tile {
  background: url(../images/catalog/tile.svg) no-repeat center;
}

.icon_card {
  background: url(../images/catalog/card.svg) no-repeat center;
}

.icon_list {
  background: url(../images/catalog/list.svg) no-repeat center;
}

/* Сортировка */

.select_control {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333;
}

/* Карточки гостиниц */

.hotels_list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  gap: 20px;
}

.hotels_card {
  width: 340px;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 20px;
  grid-template-rows: auto 1fr;
}

.hotels_link {
  display: block;
  height: 212px;
  grid-column: 1 / -1;
}

.hotels_image {
  object-fit: contain;
}

.hotels_title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  grid-column: 1 / -1;
}

.hotels_type {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333;
}

.hotels_price {
  justify-self: end;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333;
}

.hotels_button {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  box-sizing: border-box;
  width: 140px;
  height: 36px;
  padding: 8px 26px;
}

.button_favourites {
  border: 0;
  padding: 0;
  width: 140px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  justify-self: end;
}

.button_green {
  color: #fff;
  background-color: #7DB54F;
  font-weight: 700;
  cursor: pointer;
}

.rating_star {
  margin: 0;
  background: url("../images/catalog/star.svg") repeat-x left center;
}

.star_4 {
  width: 96px;
}

.star_3 {
  width: 72px;
}

.star_2 {
  width: 48px;
}

.star_5 {
  width: 120px;
}

.rating_text {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  text-transform: uppercase;
  width: 140px;
  min-height: 37px;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
  justify-self: end;
}

/* Карточка отеля Азимут */

.slider_wrap {
  grid-column: 1 / -1;
  position: relative;
}

.slider_pagination_list {
  padding: 0;
  grid-column: 1 / -1;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.slider_pagination_item {
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider_pagination_button {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
  background-color: #dbdbdb;
}

.slider_button_wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-15px);
  display: flex;
  justify-content: space-between;
}

.slider_button {
  width: 20px;
  height: 30px;
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  background-image: url("../images/catalog/azimut_hotel/arrow_right.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button_prev {
  transform: rotate(180deg);
}

.slider_pagination_button_current {
  background-color: #242424;
  cursor: default;
}


/* Пагинация */
.line {
  box-sizing: border-box;
  display: block;
  width: 1060px;
  height: 1px;
  background-color: #e5e5e5;
  margin-block: 38px 37px;
}

.pagination_list {
  padding: 0;
  margin: 0;
  height: 60px;
  display: flex;
  list-style: none;
  gap: 8px;
}

.pagination_item {
  width: 60px;
}

.pagination_link {
  text-decoration: none;
  color: #fff;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  min-width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.pagination_link_current {
  color: #000;
  background-color: #F2F2F2;
  font-weight: 700;
  cursor: default;
}

.pagination_more {
  color: #000;
  background-color: #fff;
}

/* Рассылка */


/* Состояния ссылок и кнопок */

p, h1, h2, h3, span, legend {
  cursor: default;
}

input {
  cursor: pointer;
}

/* Навигация */
.navigation_logo:hover,
.navigation_logo:focus {
  opacity: 0.6;
}

.navigation_logo:active {
  opacity: 0.3;
}

.navigation_link:hover,
.navigation_link:focus {
  opacity: 0.6;
}

.navigation_link:active {
  opacity: 0.3;
}


/* Рассылка */
.subscribe_field:hover {
  opacity: 0.9;
}

.subscribe_field:focus-visible {
  outline-offset: -2px;
}

/* Кнопки/ссылки */
.button_brown:disabled,
.button_blue:disabled,
.button_green:disabled {
  pointer-events: none;
  background-color: #E5E5E5;
}

.button_brown:hover,
.button_brown:focus {
  background-color: #615048;
}

.button_brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button_blue:hover,
.button_blue:focus {
  background-color: #68A2CA;
}

.button_blue:focus-visible {
  outline-offset: -2px;
}

.button_blue:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button_green:hover,
.button_green:focus {
  background-color: #6C9E42;
}

.button_green:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}


/* Подвал */
.icon_svg {
  fill: #83B3D3;
}

.social_button:hover .icon_svg,
.social_button:focus .icon_svg {
  fill: #68A2CA;
}

.social_button:active .icon_svg {
  fill: rgba(104, 162, 202, 0.3);
}

.footer_contact_phone:hover,
.footer_contact_phone:focus {
  color: #756157;
}

.footer_contact_phone:active {
  color: rgba(117,97,87, 0.3);
}

.htmlacademy_link:hover,
.htmlacademy_link:focus {
  fill: #756157;
}

.htmlacademy_link:active {
  fill: rgba(117,97,87, 0.3);
}

/* Хлебные крошки */
.breadcrumbs_link:hover {
  opacity: 0.6;
}

.breadcrumbs_link:focus {
  outline: none;
  border-radius: 4px;
  box-shadow: 0 0 0 3px #83B3D3;
}

.breadcrumbs_link:active {
  opacity: 0.3;
}

/* Фильтры для поиска */

.catalog_filter_item:hover {
  opacity: 0.6;
}

.catalog_filter_item:has(.control_input:disabled) {
  opacity: 0.3;
  pointer-events: none;
}

.control_check:focus-visible {
  outline: none;
  border-radius: 4px;
  box-shadow: 0 0 0 3px #83B3D3;
}

.control_mark:focus-visible {
  outline:none;
  border-radius: 18px;
  box-shadow: 0 0 0 3px #83B3D3;
}

.catalog_filter_item:active {
  opacity: 0.3;
}

.price_control:hover {
  background-color: #e6e6e6;
}

.price_control:focus {
  outline: none;
  border: 3px solid #83b3d3;
}

.range_toggler:hover {
  background-color: #e6e6e6
}

.range_toggler:focus-visible {
  outline: 3px solid #83B3D3;
}

.range_toggler:active {
  outline: 2px solid #83B3D3;
}

.button_reset:disabled {
  opacity: 0.1;
  pointer-events: none;
}

.button_reset:hover {
  opacity: 0.6;
}

.button_reset:focus-visible {
  border-radius: 4px;
  outline: 3px solid #83B3D3;
}

.button_reset:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Сортировка */
.select_control:disabled {
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.select_control:hover,
.select_control:focus {
  outline: none;
  border-color: #68A2CA;
}

.sort_link:focus{
  outline: none;
  border-color: #68A2CA;
}
.sort_link:hover {
  border-color: #000;
}

.sort_link:active {
  border-color: #000;
}

/* Пагинация */
.pagination_link:not(.pagination_link_current):not(.pagination_more):hover,
.pagination_link:not(.pagination_link_current):not(.pagination_more):focus {
  background-color: #68A2CA;
}

.pagination_link:not(.pagination_link_current):not(.pagination_more):active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}


/* Карточка отеля Азимут */

.slider_button:hover {
  background-color: #814b18;
}

.slider_button:focus {
  box-shadow: inset 0 0 0 2px #dbb590;
  background-color: #4e2e0e;
}

.slider_pagination_button:not(.slider_pagination_button_current):hover {
  background-color: #af7842
}

.slider_pagination_button:not(.slider_pagination_button_current):focus {
  background-color: #dbb590;
  outline: none;
}

.slider_pagination_button_current:focus {
  outline: none;
}

/* Модальное окно */
.modal_button_close:hover {
  background-color: #e5e5e5;
}

.modal_button_close:focus-visible {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.modal_button_close:active {
  background-color: #E6E6E6;
  opacity: 0.3;
}

.number_input:focus {
  outline: none;
}

.button_number_control:hover {
  fill: #000;
}

.button_number_control:focus-visible {
  outline: none;
  fill: #000;
  border: 3px solid #82b3d3;
  border-radius: 4px;
}

.button_number_control:active {
  fill: rgba(0, 0, 0, 0.2);
}

.checkin_input:hover {
  opacity: 0.6;
}

.checkin_input:focus-visible {
  outline: none;
  border: 3px solid #83B3D3;
}

.tooltip_toggle:hover .tooltip_icon {
  opacity: 0.9;
}

.tooltip_toggle:focus-visible {
  border-radius: 50%;
}
